{% load static %}
{% load customfunction %}
<!DOCTYPE html>
<html>
<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<title>Next Word Predictor</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
	
	<div class="container-fluid">
		<!-- Navbar -->
		<nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong">
			<!-- Container wrapper -->
			<div class="container" style="margin-top: 10pt;">
				<!-- Navbar brand -->
				<a class="navbar-brand" href="/">#CariBuku</a>
			
				<!-- Toggle button -->
				<button
					class="navbar-toggler"
					type="button"
					data-mdb-toggle="collapse"
					data-mdb-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<i class="fas fa-bars"></i>
				</button>
			
				<!-- Collapsible wrapper -->
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<!-- Left links -->
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="#">Hubungi Kami</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="#">Tentang</a>
						</li>
					</ul>
					<!-- Left links -->
				</div>
				<!-- Collapsible wrapper -->
			</div>
			<!-- Container wrapper -->
		</nav>
		<!-- Navbar -->
	</div>



	<img src="\static\images\book.jpg" class="img-fluid" alt="..." style="margin-top: -300pt;">
	<!-- Image by jcomp on Freepik -->

	<div class="container-fluid">
		<div class="landingtext text-center" style="margin-top: -450pt; color: aliceblue;">
			<h1>#CariBuku Tidak Sesulit Melupakan Masa Lalu,<br> Cari Judul Buku Anda Dengan Mudah</h1>
		</div>

		<br>
		<main style="text-align: center;">
			<div style="display: inline-block;">
				
				<form action="{% url 'search:search' %}" autocomplete="off" method="GET">
					<input type="search" id="textInput" onkeyup="callSearchAPI(event)" name="q" 
						placeholder="Tulis judul buku yang Anda cari..." value="{{search}}"> 
				</form>

				<!-- onkeyup="callSearchAPI()" -->
				<div class = "dropdown" id="dropdown">

				</div>
			</div>
		</main>
	</div>

	<br><br>
	<br><br>

	<div id="searchResults">
		<div class="container text-center">
			{% for data in data %}
			<div class="book-wrapper text-center">
				<div class="coverpage">
					<img src="{{ data.cover_buku }}"/>
				</div>
				<a>{{ data.judul_buku|text_short }}...</a>
				<!-- <p> {{ data.stok }} </p> -->
			</div>
			{% endfor %}

			{% if data|length > 0 %}
			<div class="d-pagination">
				<ul class="pagination">
				{% if data.has_previous %}
					<li class="page-item">
						<a class="page-link" href="?page=1">First</a>
					</li>								
					<li class="page-item">
						<a class="page-link" href="?page={{ data.previous_page_number }}">Previous</a>
					</li>
				{% endif %}
				{% for ord in data.paginator.page_range %}
					{% if data.number == ord %}
						<li class="page-item active">
							<span class="page-link">{{ ord }}
								<span class="sr-only">(current)</span>
							</span>
						</li>
					{% elif ord > data.number|add:'-3' and ord < data.number|add:'3' %}
						<li class="page-item">
							<a class="page-link" href="?page={{ ord }}">{{ ord }}</a>
						</li>

					{% endif %}

				{% endfor %}
				{% if data.has_next %}
					<li class="page-item">
						<a class="page-link" href="?page={{ data.next_page_number }}">Next</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="?page={{ data.paginator.num_pages }}">Last</a>
					</li>
				{% endif %}
				</ul>
			</div>
			{% else %}
			<h3 class="text-center mt-5" style="color: aliceblue;">Pencarian tidak ditemukan.</h3>
			{% endif %}	
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</body>
	<script type="text/javascript">
		var pressedValue = -1;
		var textInTextField = document.getElementById('textInput');
		var dropdownContentList;
		textInTextField.addEventListener("keyup", function(event) {
			if(event.key != "ArrowDown" && event.key !='ArrowUp' && event.key != "Enter") {
				callSearchAPI();
			}

	    	if (event.key === "Enter") {
	    		if(pressedValue == -1) return;
	        	console.log('Event enter key:?', event.key);
	        	appendWords(pressedValue);
	    	}
	    	else if (event.key === "ArrowDown"){
	    		var removedColorIndex = pressedValue; 
	    		pressedValue++;
	    		if (pressedValue > 2) {
	    			pressedValue = 0;
	    		}
	    		if(pressedValue >= 0 && removedColorIndex >=0){
	    			dropdownContentList[removedColorIndex].style.backgroundColor = 'white';
	    		}
	    		if(pressedValue != -1){
	    			dropdownContentList[pressedValue].style.backgroundColor = '#ddd';
	    		}
	    		
	    		console.log('Event key:', event.key, event);
	    	}else if(event.key ==='ArrowUp'){
	    		var removedColorIndex = pressedValue; 
	    		pressedValue--;
	    		if (pressedValue < 0) {
	    			pressedValue = 2;
	    		}
	    	}
	    	if(pressedValue >= 0 && removedColorIndex >=0){
	    		dropdownContentList[removedColorIndex].style.backgroundColor = 'white';
	    	}
	    	if(pressedValue != -1){
	    		dropdownContentList[pressedValue].style.backgroundColor = '#ddd';
	    	}
	    	
	    	console.log('KeyboardSelectedValue:', pressedValue);
		});

		function changeOptionBackgroundColor(){
			var dropdownContentList = document.getElementsByClassName('dropdown-content');
			
		}
		
		function callSearchAPI(event){
			let textInTextField = document.getElementById('textInput').value;
			console.log(textInTextField);

			// Split the input string into an array of words
			let words = textInTextField.split(' ');

			// Truncate the array to the first 5 elements
			if (words.length > 8) {
				// Clear the dropdown and return from the function
				document.getElementById('dropdown').innerHTML = "";
    			return;
			}

			// Join the array back into a string
			textInTextField = words.join(' ');

			if(textInTextField == ''){
				document.getElementById('dropdown').innerHTML = "";
			}else{
				//call API with textInTextField
				let url = 'http://127.0.0.1:8000/prediction/';
				let data = {text: textInTextField};

				fetch(url, {
				method: 'POST', // or 'PUT'
				body: JSON.stringify(data), // data can be `string` or {object}!
				headers:{
					'Content-Type': 'application/json'
				}
				})
				.then(res => res.json())
				.then(response => {
					console.log('Success:', JSON.stringify(response))
					let nextWordList = [response['predicted_words'][0]['word'], response['predicted_words'][1]['word']]; // replace with the word return from API
					listSuggestion(nextWordList);
				})
			}			
		};
		

		function appendWords(selectValue) {
			console.log(selectValue);
			var selectWordArray = document.getElementsByClassName('dropdown-content');
			// console.log(selectWordArray[selectValue]);
			document.getElementById('textInput').value = selectWordArray[selectValue].text;
			callSearchAPI();
		}


		function listSuggestion(nextWordList){
			document.getElementById('dropdown').innerHTML = "<option class=\"dropdown-content\" value=0 onclick=\"appendWords(value)\"></option><option class=\"dropdown-content\" value=1 onclick=\"appendWords(value)\"></option>";
			let textInTextField = document.getElementById('textInput').value;
			console.log(textInTextField);
			for (var i = 0; i < nextWordList.length ; i++) {
				document.getElementsByClassName('dropdown-content')[i].text = textInTextField +' '+nextWordList[i];
				document.getElementsByClassName('dropdown-content')[i].addEventListener('click', function() {

					// Perbarui URL dengan nilai pilihan dropdown
					var query = textInput.value.trim();
					history.pushState({}, '', '/search/?q=' + encodeURIComponent(query));

					// Perbarui halaman secara otomatis
  					window.location.href = '/search/?q=' + encodeURIComponent(query);
				});
			}
			//added
			// dropdownContentList = document.getElementsByClassName('dropdown-content');
			// pressedValue = -1
		}

		// Ambil elemen input pencarian
		var textInput = document.getElementById('textInput');
		var timeoutId;

		// Tambahkan event listener untuk mengikuti perubahan pada input pencarian
		textInput.addEventListener('input', function() {
			// Hapus timeout sebelumnya (jika ada)
			clearTimeout(timeoutId);

			
			// Dapatkan nilai pencarian
			var query = textInput.value.trim();
			
			// Ubah URL menggunakan pushState API
			history.pushState({}, '', '/search/?q=' + encodeURIComponent(query));
			
			var lastChar = textInput.value.slice(-1);
			if (lastChar === " ") {
			
			} else {
				// Setelah 4 detik dari penghentian pengetikan, perbarui URL dan halaman
				timeoutId = setTimeout(function() {
					// Perbarui halaman secara otomatis
					window.location.href = '/search/?q=' + encodeURIComponent(query)
				}, 2000);
			}
			
			// // Cek apakah terakhir ditekan adalah tombol spasi
			// var lastChar = textInput.value.slice(-1);
			// if (lastChar === " ") {
			// 	// Perbarui halaman secara otomatis
			// 	window.location.href = '/search/?q=' + encodeURIComponent(query);

			// 	// // Perbarui halaman secara otomatis
			// 	// window.location.reload();
			// }
		});

		// Setelah halaman selesai dimuat, fokuskan kembali ke input pencarian
		window.addEventListener('load', function() {
			textInput.focus();
			textInput.setSelectionRange(textInput.value.length, textInput.value.length);
		});

		// Fungsi untuk memperbarui hasil pencarian
		function updateSearchResults(query) {
			// Lakukan permintaan AJAX atau panggil view Django melalui API
			// untuk mendapatkan hasil pencarian berdasarkan query
			// Update elemen HTML yang menampilkan hasil pencarian
			// Menggunakan jQuery:
			$('#searchResults').load('/search/?q=' + encodeURIComponent(query));
		}

		function myDropDownBtnFunction() {
  			document.getElementById("myDropdown").classList.toggle("showbtn");
		}

		window.onclick = function(event) {
		  if (!event.target.matches('.dropbtn')) {
		    var dropdowns = document.getElementsByClassName("dropdownbtn-content");
		    var i;
		    for (i = 0; i < dropdowns.length; i++) {
		      var openDropdown = dropdowns[i];
		      if (openDropdown.classList.contains('showbtn')) {
		        openDropdown.classList.remove('showbtn');
		      }
		    }
		  }
		}

	</script>
</html>
